<header>
  <div id="token" style="display: none;">
    {{token}}
  </div>
</header>

<div class="containerForm">
  {{#if expired}}
    <div class="form">
      <h1>Su token expiro</h1>
      <p class="messageForm">Vuelva a regenerar su token
        <a href="/restore">Aqui</a></p>
    </div>
  {{else}}
    <form class="form" id="changeForm">
      <h1 class="titleRestore">Reestablecer contraseña</h1>
      <label for="">contraseña: </label>
      <input id="password" type="password" name="password" />
      <p class="messageForm">Vuelva al login <a href="/login">aqui</a></p>
      <input type="submit" class="button" />
    </form>
  {{/if}}
</div>

<script src="/js/changePassword.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>