<div class="containerForm">
    <form class="form" id="loginForm">
        <h1 class="titleForm">Logueate!!</h1>
        <label for="">Email: </label>
        <input type="text" name="email">
        <label for="">Password: </label>
        <input type="password" name="password">
        <input type="submit" class="button">
        <div class="messageForm">
            <p>Si no esta registrado, ingrese!! <a href="/register">aqui</a></p>
            <p>Olvido su contraseña? ingrese <a href="/restore">aqui</a></p>
        </div>
        <a href="/api/sessions/github" class="github"><i class="fa-brands fa-github"></i> Entrar con github</a>
    </form>
</div>


<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://kit.fontawesome.com/cad47029c3.js" crossorigin="anonymous"></script>