<div class="containerForm">
    <form class="form" id="registerForm">
        <h1 class="titleForm">Registrate!!</h1>
        <label for="">First_name: </label>
        <input type="text" name="first_name">
        <label for="">Last_name: </label>
        <input type="text" name="last_name">
        <label for="">Email: </label>
        <input type="text" name="email">
        <label for="">Password: </label>
        <input type="password" name="password">
        <label for="">age </label>
        <input type="text" name="age">
        <input type="submit" class="button">
        <p class="messageForm">Si ya estas logueado, ingresa!! <a href="/login">aqui</a></p>
    </form>
</div>

<script src="/js/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>