<div class="containerForm">
  <form class="form" id="restoreForm">
    <h1 class="titleRestore">Reestablecer contraseña</h1>
    <label for="">Email: </label>
    <input type="text" name="email" />
    <input type="submit" class="button" />
  </form>
</div>

<script src="/js/restore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>